In [21]:
import pandas as pd
import json

In [22]:
with open('JSON_files/cwc_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [23]:
df_match.shape

(48, 7)

## Preprocessing

In [24]:
df_match.rename({'scorecard':'matchid'}, inplace=True, axis=1)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,matchid
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [25]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['matchid']
    match_ids_dict[key2] = row['matchid']

In [31]:
df_match.to_csv('CSV_files/cwc_results.csv', index = False)

OSError: Cannot save file into a non-existent directory: 'CSV_files'

In [26]:
with open('JSON_files/batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55
10,India Vs Australia,India,11,Mohammed Siraj,NaN,9,8,1,0,112.50

In [27]:
df_batting['out/not_out'] = df_batting['dismissal'].apply(lambda x: "Not Out" if pd.isna(x) else "Out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,Out
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90,Out
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28,Out
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00,Out
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33,Out
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55,Out
10,India Vs Australia,India,11,Mohammed Siraj,NaN,9,8,1,0,112.50,Not Out

In [28]:
df_batting.drop(columns="dismissal", inplace=True)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahulâ€,66,107,1,0,61.68,Out
...,...,...,...,...,...,...,...,...,...,...
871,South Africa Vs Sri Lanka,Sri Lanka,7,Dasun Shanaka(c),68,62,6,3,109.67,Out
872,South Africa Vs Sri Lanka,Sri Lanka,8,Dunith Wellalage,0,1,0,0,0.00,Out
873,South Africa Vs Sri Lanka,Sri Lanka,9,Kasun Rajitha,33,31,4,1,106.45,Out
874,South Africa Vs Sri Lanka,Sri Lanka,10,Matheesha Pathirana,5,16,1,0,31.25,Out
875,South Africa Vs Sri Lanka,Sri Lanka,11,Dilshan Madushanka,4,2,1,0,200.00,Not Out

In [29]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahul,66,107,1,0,61.68,Out